body {
  margin: 0;
}

.header 
{
  background-color: #e0876a;
  color:white;
  padding: 1px;
  text-align: center;
}

.wrapper-foto {
  text-align: center;
}

.content {
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.kartu 
{
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
} 
.biodata 
{
    margin-top: 10px;
}

.table {
  width: 200%;
  border: 0;
}

/* Create three equal columns that floats next to each other */
.column {
  text-align: justify;
  float: left;
  width: 27%;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.footer {
  background-color: #e0876a;
  padding: 20px;
  text-align: center;
}