<h1>Hello World</h1>
<h2>Hello Dunia</h2>
<p>Hello Kamu</p>
<strong>Hello Dia</strong>
<i>Hello Hello</i>

<p>Daftar nama-nama buah :</p>
<ul>
    <li>Apel</li> <img src= file:///D:/DATA/Downloads/Apell.jpg />
    <li>Anggur</li> <img src= file:///D:/DATA/Downloads/Apell.jpg />
    <li>Kiwi</li>
</ul>
-------------------------------------------
<p>Daftar peserta kelas FE :</p>
<ol>
    <li>Ana</li>
    <li>Budi</li>
    <li>Cantika</li>
</ol>